<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <a href="/">Субстанции</a>
        <a>Дженерики</a>
        <a href="logout">Выйти из аккаунта</a>
        <hr>
    <a href="create-generic">Добавить дженерик в базу данных</a>
    <table class="table table-stripped">
        <tr>
            <td>Id</td>
            <td>Наименование</td>
            <td>Количество таблеток</td>
            <td>Производитель</td>
            <td>Субстанция</td>
            <td>Удаление</td>
            <td>Обновление</td>
        </tr>
        <tr th:each="generic: ${generics}">
            <td th:text="${generic.id}"></td>
            <td th:text="${generic.name}"></td>
            <td th:text="${generic.pillsQuantity}"></td>
            <td th:text="${generic.manufacturer}"></td>
            <td th:text="${generic.drug.name}"></td>
            <td>
                <a class="text-danger" th:href="@{delete-generic(id=${generic.id})}">Удалить</a>
            </td>
            <td>
                <a th:href="@{update-generic(id=${generic.id})}">Обновить</a>
            </td>
        </tr>
    </table>
    </div>
</body>
</html>